<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="container1">
			<h1> Live life at your healthiest</h1>
			</div>
			<div class="col-lg-4">
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	<!-- ABOUT SECTION -->
	<section id="about" name="about"></section>
	<div class="container about">
		<div class="col-lg-6 col-lg-offset-3">
			<h3>I,Salveo is about you, it's about all of us</h3>
			<h5>Healthcare Portal</h5>
			<hr>
			<br>
			<h4>Answers to all you questions are here. In the information section you can find the info about the deseases and conditions, our forum will provide you information from the person who faced any of those problems.
			iHealth is your personal doctor, who will keep track of your health and help you to improve your your health! 
			<br/>-</h4>
			<p>For the past decade I've been crafting user-centered design experiences for the web. I specialize in responsive front-end design, HTML/cssS and web typography. Some other areas of expertise are creative direction/art direction, interface design, rapid prototyping, concepting, mobile/app design and more. Most days I work with pixels, grids, typography, colors and lines of code. Currently I work at Dell as a web designer.</p>
		</div><!-- /col-lg-6 -->
	</div><!-- /container -->
	<!-- BEGIN CHART SECTION -->	
	<div id="chartwrap">
	<br>
	<br>
		<div class="container centered">
			<div class="col-lg-3"></div>
			


			<div class="col-lg-3"></div>
		</div><!-- container -->
	</div><!-- chartwrap -->
	<div id="testimonial">
		<div class="container">
			<div class="bs-example">
				<div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
				<div class="carousel-inner">
					<div class="item active">
						<h1>Informative and useful!Found exactly what I was looking, and my problem is solved now!</h1>
						<br>
						<h2>Tasha Minch</h2>
					</div>
					<div class="item">
						<h1>Our life is getting mobile and kudos to this resource for making it more this way!</h1>
						<br>
						<h2>Joan Nola</h2>
					</div>
					<div class="item">
						<h1>Search no more. You'll find answers to all your questions right here right now!</h1>
						<br>
						<h2>Anna Bishop</h2>
					</div>
				</div>
			<br>
			<br>
			<br>
			</div>
			</div>
			</div>
	</div>
			</div>
			</div>
	<section id="portfolio" name="portfolio"></section>
	<div id="foliowrap">
		<div class="container">
			<h3>YOUR MOBILE DEVICES</h3>
			<br>
			<br>
			<div class="row">	
			
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="img/portfolio/umtest.png" >
							<figcaption>
								<h5>Glucometer</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
			    	<br>
				</div><!-- /col -->
				
				
						 <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->
						      
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Wrist band<h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="img/portfolio/folio01.jpg" alt=""></p>
						          <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
						          <p><b><a href="#">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				
				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="img/portfolio/wristmonitore.png" alt="">
							<figcaption>
								<h5>UI DESIGN</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
			    	<br>
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="img/portfolio/topa.png" alt="">
							<figcaption>
								<h5>ANDROID PAGE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
			    	<br>
				</div><!-- /col -->
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="img/portfolio/ololo.png" alt="">
							<figcaption>
								<h5>PROFILE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
			    	<br>
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="img/portfolio/lift.png" alt="">
							<figcaption>
								<h5>TWITTER STATUS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
			    	<br>
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="img/portfolio/ata.png" alt="">
							<figcaption>
								<h5>PHONE MOCKUP</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				<br>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /foliowrap -->
	
	
	<section id="blog" name="blog"></section>
	<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 about">
				<h3>Healthcare Forum</h3>
				<h5>Latest threads:</h5>
				<br>
				<br>
				
				

			<div class="col-lg-3"></div>
		</div><!-- /row -->
	</div><!-- /container -->
	
